<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Position</title>
</head>
<body>
    <h1>Add A Volunteer Position to <%=foundProfile.name%> </h1>
    <form action = "/positions" method = 'POST'>
        <label for= "orgName">Organization Name:</label>
        <input type = "text" name = "orgName" id = "orgName" placeholder = "Organization name" value = "<%= foundProfile.name%>">
        <label for= "positionName">Position Name:</label>
        <input type = "text" name = "positionName" id = "positionName" placeholder = "Position name">
        <label for = "positionLocation">Location:</label>
        <input type = "text" name = "positionLocation" id = "positionlocation" placeholder = "Town Location" value = "<%= foundProfile.townLocation%>">

        <label for = "location">Volunteers will be: </label>

        <select name = "location" id="location">
            <% for(let category of categories1) { %>
                <option value = "<%= category %>"><%= category %></option>
            <% } %>

        </select>  

        <label for = "positionZipCode">Zip Code:</label>
        <input type = "number" name = "positionZipCode" id = "positionZipCode" placeholder = "Zip Code" value = "<%= foundProfile.zipCode%>">
       <h2></h2>
        <label for = "interestTag2">Position is about:</label>
        <select name = "interestTag2" id="interestTag2">
            <% for(let category of categories2) { %>
                <option value = "<%= category %>"><%= category %></option>
            <% } %>
        </select>
        <input type="submit">
    </form>
    <h2></h2>
    <a href = "/orgprofiles/<%=foundProfile.id%>">Cancel</a>
</body>
</html> 