<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
</head>
<body>
    <h1>Edit Profile</h1>
    <form action = "/profiles/<%=foundProfile.id%>?_method=PUT" method = 'POST'>
        <label for= "name">Name:</label>
        <input type = "text" name = "name" id = "name" placeholder = "Profile name" value = "<%= foundProfile.name%>">
        <label for = "townLocation">Town Location:</label>
        <input type = "text" name = "townLocation" id = "townlocation" placeholder = "Town Location" value = "<%= foundProfile.townLocation%>">
        
        <label for = "location">Where Can You Volunteer?</label>
        
        <select name = "location" id="location">
            <% for(let location of categories1) { %>
                <option value = "<%= location %>" <%= foundProfile.location === location ? 'selected': '' %>><%= location %></option>
            <% } %>
            
        </select>  
    
        <label for = "zipCode">Zip Code:</label>
        <input type = "number" name = "zipCode" id = "zipCode" placeholder = "Zip Code" value = "<%= foundProfile.zipCode%>">
       <h2></h2>
        <label for = "interestTag1, interestTag2, interestTag3">Choose Three Interests:</label>
        <select name = "interestTag1" id="interestTag1">
            <% for(let interestTag1 of categories2) { %>
                <option value = "<%= interestTag1 %>" <%= foundProfile.interestTag1 === interestTag1 ? 'selected': '' %>><%= interestTag1 %></option>
            <% } %>
        </select>
        <select name = "interestTag2" id="interestTag2">
            <% for(let interestTag2 of categories2) { %>
                <option value = "<%= interestTag2 %>" <%= foundProfile.interestTag2 === interestTag2 ? 'selected': '' %>><%= interestTag2 %></option>
            <% } %>
        </select>
        <select name = "interestTag3" id="interestTag3">
            <% for(let interestTag3 of categories2) { %>
                <option value = "<%= interestTag3 %>" <%= foundProfile.interestTag3 === interestTag3 ? 'selected': '' %>><%= interestTag3 %></option>
            <% } %>
        </select>                  
        <input type="submit">
    </form>
    <a href = "/profiles/<%=foundProfile.id%>">Cancel</a>
</body>
</html>