<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profiles</title>
</head>
<body>
    <h1>Volunteer Positions:</h1>
    <% for(let dict of arr) { %>
        <ul>
            <li> <a href = "/position/<%=dict.position.user_id%>/<%=dict.position.id%>"><%= dict.position.positionName %> for <%= dict.position.orgName %> is a <%= Math.round(dict.index/foundUser.interests.length*100.0)%>% match </a> </li>
            <ul>
                <% for(let interest of dict.matching_interests) { %>
                    <li> <%= interest %></li>
                <% } %>
            </ul>
        </ul>
    <% } %>
        <h2></h2>
        <a href = "/profiles">See All Organizations</a>
        <a href = "/home">Go to homepage</a>
</body>
</html>