<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= foundProfile.name %></title>
</head>

<body>
    <h1><%= foundProfile.name %></h1>
        <ul>
            <li>Location: <%= foundProfile.townLocation%></li>
            <li>Zip Code: <%= foundProfile.zipCode %></li>
            <li>Tax ID: <%= foundProfile.taxID %></li>
            <li>Phone Number: <%= foundProfile.phoneNum %></li>
            <li>Organization is about <%= foundProfile.interestTag1 %></li>
        </ul>
    <a href = "/orgprofiles">See All Organizations</a>
    <a href = '/orgprofiles/<%=foundProfile.id%>/edit'>Edit Profile</a>
    <h2></h2>
    <a href = '/orgprofiles/<%=foundProfile.id%>/addPosition'>Add a volunteer position to <%= foundProfile.name %></a>
    <form action="/orgprofiles/<%=foundProfile.id%>?_method=DELETE" method = POST>
        <button>Delete</button>
    </form>
</body>
</html> 