<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Organization</title>
</head>
<body>
    <h1>Edit Profile</h1>
    <form action = "/profiles/<%=foundProfile.id%>?_method=PUT" method = 'POST'>
        <label for= "name">Organization Name:</label>
        <input type = "text" name = "name" id = "name" placeholder = "Profile name" value = "<%= foundProfile.name%>">
        <label for = "townLocation">Town Location:</label>
        <input type = "text" name = "townLocation" id = "townlocation" placeholder = "Town Location" value = "<%= foundProfile.townLocation%>">
        <label for = "zipCode">Zip Code:</label>
        <input type = "number" name = "zipCode" id = "zipCode" placeholder = "Zip Code" value = "<%= foundProfile.zipCode%>">
        <label for = "taxID">Tax ID:</label>
        <input type = "number" name = "taxID" id = "taxID" placeholder = "Tax ID" value = "<%= foundProfile.taxID%>">
        <label for = "phoneNum">Phone number</label>
        <input type = "number" name = "phoneNum" id = "phoneNum" placeholder = "Phone number" value = "<%= foundProfile.phoneNum%>">
       <h2></h2>
        <label for = "interestTag1">Organization is about:</label>
        <select name = "interestTag1" id="interestTag1">
            <% for(let interestTag1 of categories2) { %>
                <option value = "<%= interestTag1 %>" <%= foundProfile.interestTag1 === interestTag1 ? 'selected': '' %>><%= interestTag1 %></option>
            <% } %>
        </select>            
        <input type="submit">
    </form>
    <h2></h2>
    <a href = "/profiles/<%=foundProfile.id%>">Cancel</a>
</body>
</html> 