<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Organization</title>
</head>
<body>
    <h1>Edit Profile</h1>
    <form action = "/profiles?_method=PUT" method = 'POST'>
        <label for= "username">Organization Name:</label>
        <input type = "text" name = "name" id = "name" placeholder = "Profile name" value = "<%= foundUser.name%>">
        <label for = "location">Town Location:</label>
        <input type = "text" name = "location" id = "location" placeholder = "Town Location" value = "<%= foundUser.location%>">
        <label for = "zipCode">Zip Code:</label>
        <input type = "number" name = "zipCode" id = "zipCode" placeholder = "Zip Code" value = "<%= foundUser.zipCode%>">
       <h2></h2>
       <% for(let category of categories2) { %>
        <input type = "checkbox" name = "<%= category %>" value = "<%= category %>"><%= category %></input>
        <% } %>
        <input type="submit">
    </form>
    <h2></h2>
    <a href = "/profilePage">Cancel</a>
</body>
</html> 